.header {
    background-color: lightblue;
    padding: 14px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.content {
    width: 100%;
    background-color: #dae8e6;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;

    .text {
        width: 260px;
    }
}
